<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div th:if="${videoInfo}">
        <h3>Video Details:</h3>
		<p th:text="${videoInfo}"/>
	</div>

	<h2 th:inline="text">Welcome. You are logged into your profile</h2>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>

	<div>
		<p>Please upload a video</p>
		<form method="POST" enctype="multipart/form-data" action="/upload">
			<table>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<tr>
					<td>Video File:</td><td><input type="file" name="file" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Upload" /></td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>
